<div class="content">
    <button class="btn" mat-flat-button color="primary" (click)="onClick('home/tasks')">
        <div class="buttoncontent">
        <mat-icon class="iconsizetsk" svgIcon="tasks"></mat-icon> Mis <br /> tareas
        </div>
    </button>
    <button class="btn" mat-flat-button color="primary" (click)="onClick('home/tracking')">
        <div class="buttoncontent">
            <mat-icon class="iconsize" svgIcon="truck"></mat-icon> Tracking
        </div>
    </button>
    <button class="btn" mat-flat-button color="primary" (click)="onClick('home/graphs')">
        <div class="buttoncontent">
            <mat-icon class="iconsize" svgIcon="pie"></mat-icon> Gráficos
        </div>
    </button>
</div>