.btn{
    margin-top: 20px;
    height: 150px;
    width: 80%;
    font-size: 30px;
}

.iconsize{
    transform: scale(4);
    padding-bottom: 10px;
    color: black;
}

.iconsizetsk{
    transform: scale(4);
    color: black;
}

.buttoncontent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    align-items: center;
}